@import '../../styles/breakpoints.scss';

.hero-container {
    padding-top: 20rem;

    .wrapper {
        max-width: 1280px;
        
        .intro {
            font-size: var(--h4);
            max-width: 1280px;
        }
    }
}