@import '../../styles/breakpoints.scss';

.hero-container {
    padding-top: 20rem;
    margin: 0 5vw;

    .wrapper {
        display: flex;
        justify-content: space-between;
        
        .intro {
            font-size: var(--h3);
        }

    }
}