@import '../../styles/breakpoints.scss';

.hero-container {
    padding-top: 10rem;

    .wrapper {
        background-image: url('../../images/pexels-polina-tankilevitch-3735781.jpg');
        width: 100%;
        height: 500px;

        .intro {
            color: white;
            font-size: var(--h4);
            max-width: 1280px;
        }
    }
}